*{
  margin: 0px;
  padding: 0px;
  box-sizing:border-box;
}

p{
  color: #48647f;
  font-family:"Open Sans", sans-serif;
  font-size: 18px;
  text-align: start;
  line-height: 24px;
  letter-spacing: normal;

}

img {
  display: block;
}
h3{
  color: #0b64a4;
  font-family: Roboto, sans-serif;
  font-size: 28px;
  text-align: start;
  line-height: 28px;
  letter-spacing: 5px;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h4{
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-align: start;
  letter-spacing: 4px;
  line-height: 16px;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    line-height: 1.5;
    font-size: 0.875rem;
    background-color:#bcccdc;
  }

  section{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 80px auto;
  }
  img{
    width: 100%;
    padding: 16px;
    border-radius: 20px;
    box-shadow: none;

  }
  .text-info{
    width: 50%;
    padding: 1rem;
    margin: 16px;  
  }
  
  .countdown-timer{
    margin: 2rem ;
    padding: 30px;
    display: flex;
    justify-content: center;
  }

  .countdown{
    display: flex;
    justify-content: space-between;
  }
  
  span{
    font-size: 24px;
  }
  
  .countdown p{
    font-size: 0.875rem;
  }

  .days, .hours, .minutes, .seconds{
    align-items: center;
    width: 80px;
    height: 80px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid ;
    border-radius: 5px;
    background-color: #063251;
    color: #fff;
    margin-bottom: 0.25rem;
    margin-right: 0.5rem;
    font-size: 0.875rem;
  }
  

  @media(max-width:768px){
    .countdown{
        font-size: 1.5rem;
    }
    section{
      display: grid;
      grid-template-columns: 1fr;
    }
  }